.Login {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login > form {
  width: 400px;
  padding: 0 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  text-align: center;
}

.Login > form > h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.loginButton,
.formField,
.admin {
  width: 100%;
  padding: 18px;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(110, 110, 110);
  font-size: 1rem;
  border-radius: 2px;
  outline: none;
}

.formField,
.admin {
  text-align: left;
  margin: 10px 0;
}

.formField {
  margin-bottom: 0px;
}

.loginButton {
  background-color: var(--violet);
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 10px;
}

.loginButton:hover {
  background-color: var(--violet2);
}

.loginButton:disabled {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(197, 197, 197);
  cursor: not-allowed;
}

.admin {
  color: rgb(82, 82, 82);
  font-weight: 500;
}

.errorContainer {
  min-height: 30px;
  text-align: left;
}

.serverErrorContainer {
  min-height: 30px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  min-height: 18px;
  font-size: 0.8rem;
  color: red;
}
