.Contact {
  width: 100%;
  min-height: 90vh;
  background-color: var(--violet2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactContainer {
  width: 80%;
  height: 70vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  z-index: 10;
}

.Contact form h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
}

.Contact * {
  margin: 0;
  padding: 0;
}

.Contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.Contact .info {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Contact .info h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: rgb(110, 110, 110);
  letter-spacing: 1px;
  text-align: center;
}

.Contact .info .infoContainer {
  width: 200px;
}

.Contact .info .infoContainer .group {
  display: flex;
  margin: 10px 0;
  font-size: 0.92rem;
}

.Contact .info .infoContainer .group p {
  margin-left: 10px;
}

.Contact form > div {
  display: flex;
  width: 540px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.Contact form div .formField,
.Contact form div .formTextArea,
.Contact form div > button {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(110, 110, 110);
  font-size: 1rem;
  border-radius: 2px;
  padding: 10px;
  outline: none;
  resize: none;
}

.Contact form div .formField {
  width: 260px;
}
.Contact form div .formTextArea {
  width: 540px;
}

.Contact form > div > button {
  width: 100%;
  background-color: var(--violet);
  color: white;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.Contact form > div > button:hover {
  background-color: var(--violet2);
}

.Contact form > div > button:disabled {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(235, 235, 235);
  color: rgb(197, 197, 197);
  cursor: not-allowed;
}

.Phone,
.Mail,
.Location {
  fill: var(--violet);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--violet2);
}

@media screen and (max-width: 1000px) {
  .contactContainer {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .line {
    width: 90%;
    margin: 20px auto 10px auto;
    height: 1px;
    background-color: var(--violet);
  }
}

@media screen and (max-width: 750px) {
  .Contact form > div {
    width: 450px;
  }

  .Contact form div .formField {
    width: 220px;
  }

  .Contact form div .formTextArea {
    width: 450px;
  }
}

@media screen and (max-width: 600px) {
  .Contact form h1,
  .Contact .info h1 {
    font-size: 1rem;
  }

  .Contact .info .infoContainer .group {
    display: flex;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  .Contact form {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .Contact form > div {
    width: 100%;
    flex-direction: column;
  }

  .Contact form > div .formField {
    width: 300px;
  }
  .Contact form > div .formTextArea {
    width: 300px;
  }
}

@media screen and (max-width: 440px) {
  .Contact form > div .formField {
    width: 250px;
  }
  .Contact form > div .formTextArea {
    width: 250px;
  }
}
